.footer__link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  margin-right: 14px;
}

.footer__link:last-of-type {
  margin-right: 0;
}
