.lead__title {
  margin: 56px auto 0;
  padding: 0;
  box-sizing: border-box;
  width: 720px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .lead__title {
    margin-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin-top: 44px;
    width: 288px;
    font-size: 40px;
    line-height: 1.10;
  }
}
