.lead__subtitle {
  margin: 32px auto 64px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  width: 640px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
}
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 288px;
    font-size: 16px;
    line-height: 1.25;
}
}
